/* default / demo page */
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
	min-height: 1280px;
	font-weight: 300;
	color: #2a2a2a;
}
body {
	background-color: #a9a9a9;
	text-align: justify;
}
p,
h1,
h2,
h3,
h4,
a {
	margin: 0;
	font-weight: 300;
}
a,
a:visited,
a:hover {
	color: #f30;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}
#intro {
	max-width: 40rem;
	margin: 1rem auto;
	text-align: center;
}
.intro__overline {
	font-size: 1.4rem;
}
.intro__hed {
	font-size: 1.4rem;
	margin: 1.5rem auto;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.05em;
}
.intro__dek {
	font-size: 1.4rem;
}
/* demo */
#intro {
	margin-bottom: 320px;
}
#outro {
	height: 640px;
}
/* scrollama */
#scroll1, #scroll2, #scroll3, #scroll4, #scroll5, #scroll6, #scroll7 {
	position: relative;
	/*border-top: 2px dashed #000;*/
	/*border-bottom: 2px dashed #000;*/
	/*margin-bottom: 320px;*/

}
.scroll__graphic1, .scroll__graphic2, .scroll__graphic3, .scroll__graphic4, .scroll__graphic5, .scroll__graphic6, .scroll__graphic7 {
	position: absolute;
	top: 0;
	right: 10px; /*1rem;*/
	bottom: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/*
	background-color: #ddd;
	border: 1px solid #000;
    */
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-left: 10px;*/
}

.scroll__graphic1.is-fixed{ 
	position: fixed;
}

.scroll__graphic2.is-fixed {
	position: fixed;
}

.scroll__graphic3.is-fixed {
	position: fixed;
}

.scroll__graphic4.is-fixed {
	position: fixed;
}

.scroll__graphic5.is-fixed {
	position: fixed;
}

.scroll__graphic6.is-fixed {
	position: fixed;
}

.scroll__graphic7.is-fixed {
	position: fixed;
}

.scroll__graphic1.is-bottom, .scroll__graphic2.is-bottom, .scroll__graphic3.is-bottom, .scroll__graphic4.is-bottom, .scroll__graphic5.is-bottom, .scroll__graphic6.is-bottom, .scroll__graphic7.is-bottom{
	bottom: 0;
	top: auto;
}
.scroll__graphic1 p, .scroll__graphic2 p, .scroll__graphic3 p, .scroll__graphic4 p, .scroll__graphic5 p, .scroll__graphic6 p, .scroll__graphic7 p {
	text-align: center;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 8rem;
	font-weight: 900;
	color: #666;
}

.scroll__text1, .scroll__text2, .scroll__text3, .scroll__text4, .scroll__text5, .scroll__text6, .scroll__text7 {
	position: relative;
	padding: 0 1rem;
	max-width: 30rem;
	width: 33%;
}

@media (max-width: 767px) {
	.scroll__graphic1, .scroll__graphic2, .scroll__graphic3, .scroll__graphic4, .scroll__graphic5, .scroll__graphic6, .scroll__graphic7 {
		position: absolute;
		top: 0;
		right: 10px; /*1rem;*/
		bottom: auto;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		/*
		background-color: #ddd;
		border: 1px solid #000;
	    */
	    padding-top: 10px;
	    /*padding-left: 10px;*/
	}

	..scroll__graphic7 {
		position: absolute;
		bottom: 0;
		right: 10px; /*1rem;*/
		bottom: auto;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		/*
		background-color: #ddd;
		border: 1px solid #000;
	    */
	    padding-top: 100px;
	    /*padding-left: 10px;*/
	}

	.scroll__graphic1 p, .scroll__graphic2 p, .scroll__graphic3 p, .scroll__graphic4 p, .scroll__graphic5 p, .scroll__graphic6 p, .scroll__graphic7 p {
		text-align: center;
		padding: 1rem;
		position: absolute;
		top: 50%;
		right: 1rem;
		/*left: 50%;*/
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 8rem;
		font-weight: 900;
		color: #666;
	}

	.scroll__text1, .scroll__text2, .scroll__text3, .scroll__text4, .scroll__text5, .scroll__text6, .scroll__text7 {
		position: relative;
		padding: 0 1rem;
		max-width: 40rem;
		width: 45%;
	} 

	.scroll__text7 {
		position: relative;
		padding: 0 1rem;
		max-width: 80rem;
		width: 100%;
	}
}

.step1, .step2, .step3, .step4, .step5, .step6, .step7 {
	margin: 0 auto 25rem auto;
	/*border: 1px solid #333;*/
	/* border-bottom: none; */
}

.long-step {
	margin-bottom: 0;
}

.step1:last-child, .step2:last-child, .step3:last-child, .step4:last-child, .step5:last-child, .step6:last-child {
	/*border-bottom: 1px solid #333;*/
}
/*
.step1.is-active {
	background-color: lightgoldenrodyellow;
}
.step2.is-active {
	background-color: lightgoldenrodyellow;
}
.step3.is-active {
	background-color: lightgoldenrodyellow;
}
.step4.is-active {
	background-color: lightgoldenrodyellow;
}
.step5.is-active {
	background-color: lightgoldenrodyellow;
}

.step6.is-active {
	background-color: lightgoldenrodyellow;
}

.step7.is-active {
	background-color: lightgoldenrodyellow;
}
*/
.step1 p, .step2 p, .step3 p, .step4 p, .step5 p, .step6 p, .step7 p {
	text-align: center;
	padding: 1rem;
	font-size: 1.5rem;
}

.description {
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 120px;
}

.countries {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}
.legendThreshold {
  font-size: 12px;
  font-family: sans-serif;
}
.caption {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
}

/*
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
  transform: translateZ(-1px) scale(2);
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
*/

.hexagon {
  fill: white;
  pointer-events: all;
}

.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.hexagon :hover {
  fill: pink;
}

.hexagon .fill {
  fill: #73c2fb;
}

.mesh {
  fill: none;
  stroke: #000;
  stroke-opacity: 1.0;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none;
}

/*
.circle_zoom_out {
	width: 100%;
}
*/

.graphic_image {
	width: 100%;
	max-width: 100%;
	height: 80%;
}


.step1 p, .step2 p, .step3 p, .step4 p, .step5 p, .step7 p {
	background-color: white;
	font-weight: bold;
	border-radius: 5px;

	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         3px 3px 5px 6px #a8a8a8;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.bar {
	fill: #f58231;
}

.lifestyle_fact {
	font-weight: bold;
	/*color: #f58231;*/
	color: #e50000;
}

.shower_fact, .farmer_fact {
	padding-top: 200px;
	font-weight: bold;
	/*font-size: 2rem;*/
	/*color: #f58231;*/
	color: #e50000;
}

.india_water_map {
	border: 1px solid black;
}

.india_water_stat, .india_water_text {
	font-weight: bold;
	padding-bottom: 20px;
}

.year_title {
	padding-top: 30px;
	font-weight: bold;
}

.red_text {
	color: #e50000;
}

.circle_pack_water {
}
