/* default / demo page */
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
	min-height: 1280px;
	font-weight: 300;
	color: #2a2a2a;
}
body {
	background-color: #aba6bf; /*black; /*#a9a9a9;*/
	text-align: justify;
}
p,
h1,
h2,
h3,
h4,
a {
	margin: 0;
	font-weight: 300;
}
a,
a:visited,
a:hover {
	/*color: #f30;*/
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}
#intro {
	max-width: 40rem;
	margin: 1rem auto;
	text-align: center;
}
.intro__overline {
	font-size: 1.4rem;
}
.intro__hed {
	font-size: 1.4rem;
	margin: 1.5rem auto;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.05em;
}
.intro__dek {
	font-size: 1.4rem;
}
/* demo */
#intro {
	margin-bottom: 320px;
}
#outro {
	height: 640px;
}
/* scrollama */
#scroll1, #scroll2, #scroll3, #scroll4, #scroll5, #scroll6, #scroll7 {
	position: relative;
	/*border-top: 2px dashed #000;*/
	/*border-bottom: 2px dashed #000;*/
	/*margin-bottom: 320px;*/

}
.scroll__graphic1, .scroll__graphic2, .scroll__graphic3, .scroll__graphic4, .scroll__graphic5, .scroll__graphic6, .scroll__graphic7 {
	position: absolute;
	top: 0;
	right: 10px; /*1rem;*/
	bottom: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	/*
	background-color: #ddd;
	border: 1px solid #000;
    */
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-left: 10px;*/
}

.scroll__graphic1.is-fixed{ 
	position: fixed;
}

.scroll__graphic2.is-fixed {
	position: fixed;
}

.scroll__graphic3.is-fixed {
	position: fixed;
}

.scroll__graphic4.is-fixed {
	position: fixed;
}

.scroll__graphic5.is-fixed {
	position: fixed;
}

.scroll__graphic6.is-fixed {
	position: fixed;
}

.scroll__graphic7.is-fixed {
	position: fixed;
}

.scroll__graphic1.is-bottom, .scroll__graphic2.is-bottom, .scroll__graphic3.is-bottom, .scroll__graphic4.is-bottom, .scroll__graphic5.is-bottom, .scroll__graphic6.is-bottom, .scroll__graphic7.is-bottom{
	bottom: 0;
	top: auto;
}
.scroll__graphic1 p, .scroll__graphic2 p, .scroll__graphic3 p, .scroll__graphic4 p, .scroll__graphic5 p, .scroll__graphic6 p, .scroll__graphic7 p {
	text-align: center;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 8rem;
	font-weight: 900;
	color: #666;
}

.scroll__text1, .scroll__text2, .scroll__text3, .scroll__text4, .scroll__text5, .scroll__text6, .scroll__text7 {
	position: relative;
	padding: 0 1rem;
	max-width: 30rem;
	width: 33%;
}

@media (max-width: 767px) {
	.scroll__graphic2, .scroll__graphic3, .scroll__graphic4, .scroll__graphic5, .scroll__graphic6, .scroll__graphic7 {
		position: absolute;
		top: 0;
		right: 10px; /*1rem;*/
		bottom: auto;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		/*
		background-color: #ddd;
		border: 1px solid #000;
	    */
	    padding-top: 10px;
	    /*padding-left: 10px;*/
	}

	.scroll__graphic1, .scroll__graphic7, .scroll__graphic3 {
		position: absolute;
		bottom: 0;
		right: 10px; /*1rem;*/
		bottom: auto;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		/*
		background-color: #ddd;
		border: 1px solid #000;
	    */
	    padding-top: 100px;
	    /*padding-left: 10px;*/
	    /*color: #f58231;*/
	}

	.scroll__graphic1 p, .scroll__graphic2 p, .scroll__graphic3 p, .scroll__graphic4 p, .scroll__graphic5 p, .scroll__graphic6 p, .scroll__graphic7 p {
		text-align: center;
		padding: 1rem;
		position: absolute;
		top: 50%;
		right: 1rem;
		/*left: 50%;*/
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 8rem;
		font-weight: 900;
	}

	.scroll__text2, .scroll__text3, .scroll__text4, .scroll__text5, .scroll__text6, .scroll__text7 {
		position: relative;
		padding: 0 1rem;
		max-width: 40rem;
		width: 45%;
	} 

	.scroll__text1, .scroll__text7, .scroll__text3 {
		position: relative;
		padding: 0 1rem;
		max-width: 80rem;
		width: 100%;
	}
}

.step1, .step2, .step3, .step4, .step5, .step6, .step7 {
	margin: 0 auto 25rem auto;
	/*border: 1px solid #333;*/
	/* border-bottom: none; */
}


.long-step {
	margin-bottom: 0;
}
.short-step {
	height: 0;
}

.step1:last-child, .step2:last-child, .step3:last-child, .step4:last-child, .step5:last-child, .step6:last-child {
	/*border-bottom: 1px solid #333;*/
}

.description {
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 120px;
}

.graphic_image {
	width: 100%;
	max-width: 100%;
	height: 80%;
}


.step1 p, .step2 p, .step3 p, .step4 p, .step5 p, .step7 p {
	text-align: center;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
}


.data_source {
	width: 100%;
	font-size: 0.75rem;
	position: absolute;
	bottom: 2vh;
	text-align: center;
}

.data_source_link {
	color: #0645AD;
}

.transition {
	width: 100%;
   	margin: 0;
   	top: 0;
   	left: 0;
	height: 60vh;
	background-color: black;
	font-size: 3rem;
	padding-top: 20vh;
	margin-bottom: 40vh;
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f58231;
	text-align: center;
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.footer {
  background-color: black;
  color: white;
  text-align: left;
}

.footer p {
  padding-top: 3vh;
}


/* User defined */
#migration-map { 
	height: 480px; 
}

