body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  /*margin: 0 0 35px;*/
  /*letter-spacing: 1px;*/
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /*color: #42DCA3;*/
}

a:focus, a:hover {
  text-decoration: none;
  /*color: #1d9b6c;*/
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}


.masthead {
  display: table;
  width: 100%;
  height: 100%;
  /*
  height: auto;
  padding: 200px;
  */
  text-align: center;
  color: white;
  background: url("../img/intro-bg-1.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: screen;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  padding-top: 100px;
  font-size: 50px;
  color: #FF5A60;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
    padding-top: 100px;
  }
  .masthead .intro-body .brand-heading {
    font-size: 70px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 10px; /*150px;*/
  padding-bottom: 10px; /*150px;*/
  text-align: left;
}

.download-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width: 992px) {
  .content-section {
    padding-top: 50px; /*10px*/ /*150px;*/
    padding-bottom: 10px; /*150px;*/
  }
}

/*
.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}
*/

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/*
.plotSideInfo {
  padding-top: 20px;
  font-size: 10px;
  color: white;
}

.listings2_container1 {
  width: 100%;
  height: 300px; 
}

.listings2_container2 {
  width: 100%;
  height: 300px; 
}

.listings2 {
  padding-top: 20px;
}
*/
/*
@media (min-width: 992px) {
  .market-container1 {

  }
}
*/

.side-info {
  padding-top: 100px;
  text-align: center;
}

.button {
  /*min-width: 130px;*/
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  color: #000000;
}

.button.active {
  background: #000;
  color: #fff;
}

.jumbotron {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

/*
.btn {
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #000000;
  text-decoration: none;
  background-color: transparent;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.btn.active {
  background: #000;
  color: #fff;
  border: 1px solid #000000;
  border-style: solid;
}
*/
.tooltip1 {   
  position: absolute;           
  text-align: center;           
  width: 180px;                  
  height: 80px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 2px;           
  pointer-events: none;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.4);     
}

.tooltip_team {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bold_text {
  font-weight: bold;
}

.plot_title {
  font-weight: bold;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #19388A;
}

.plot_sub_title {
  font-weight: bold;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #19388A;
}

.plot_caption {
  font-size: 11px;
}

.plot_padding {
  padding-top: 30px;
}


.em_text {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}


.footer {
  background-color: black;
  color: white;
  text-align: left;
}

.footer p {
  padding-top: 3vh;
}

.user_card {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #F1E0D6;
}

.user_avatar {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  background-color: #BF988F;
}

.plot_eco_results_legend {
  font-size: 0.75rem;
}

.zero_opacity {
  opacity: 0;
}

.lower_opacity {
  opacity: 0.5;
}
.default_opacity {
  opacity: 1.0;
  border: 2px solid black;
}

.viz_play_single_game {
  background-color: #c0c0c0;
}

.plot_pd_results {
  background-color: #c0c0c0;
}
.plot_ipd_results {
  background-color: #c0c0c0;
}

#match_result {
  height: 30px;
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

#match_verdict {
  height: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

#replay_button_div {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#game_play_instruction_text {
  font-size: 1.5rem;
  font-weight: bold;
}

.payoff_score_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.eco_results_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.opponent_strategy_name {
  padding-left: 10px;
}

.plot_eco_results_legend {
  font-size: 1.0rem;
  padding-top: 10px;
  padding-bottom: 20px;
}
